# Ignore node modules
node_modules
pnpm-debug.log

# Ignore build output
.next
out
dist

# Ignore logs
logs
*.log

# Ignore temporary files
*.swp
*.swo
*.tmp
*.temp
*.bak

# Ignore Docker files
Dockerfile*
docker-compose*

# Ignore IDE and editor specific files
.vscode
.idea
*.code-workspace
